body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#chatbot {
    width: 800px; /* Augmenter la largeur */
    background-color: #f0f0f0;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#messages {
    height: 300px; /* Augmenter la hauteur */
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#userInput {
    width: calc(100% - 90px);
    padding: 5px;
    border: 1px solid #ccc; /* Bordure pour le champ de saisie de l'utilisateur */
    border-radius: 4px; /* Arrondir les coins du champ de saisie */
}

#sendButton {
    width: 80px;
    padding: 5px;
    margin-left: 10px;
    background-color: #007bff; /* Couleur de fond du bouton Envoyer */
    color: white; /* Texte blanc pour le bouton Envoyer */
    border: none; /* Aucune bordure pour le bouton Envoyer */
    border-radius: 4px; /* Arrondir les coins du bouton Envoyer */
    cursor: pointer; /* Curseur en forme de pointeur pour indiquer que le bouton est cliquable */
}

#sendButton:hover {
    background-color: #0056b3; /* Assombrir le bouton au survol pour un feedback visuel */
}
@keyframes blink {
    0% { opacity: .2; }
    20% { opacity: 1; }
    100% { opacity: .2; }
}

.typing-indicator {
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
}

.typing-indicator span {
    animation: blink 1.4s infinite;
    animation-fill-mode: both;
}

.typing-indicator span:nth-child(2) {
    animation-delay: .2s;
}

.typing-indicator span:nth-child(3) {
    animation-delay: .4s;
}


.image-response {
    max-width: 100%; /* Assure que l'image ne dépasse pas le conteneur de messages */
    height: auto; /* Maintient le rapport hauteur / largeur de l'image */
    display: block; /* Les images sont affichées en block pour éviter les marges d'espace blanc par défaut */
    margin: 10px auto; /* Centre l'image et ajoute un peu d'espace au-dessus et en dessous */
}

/* Styles pour les messages de l'utilisateur et du bot */
.user, .bot {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    color: white;
}

.user {
    background-color: #007BFF;
    align-self: flex-end;
}

.bot {
    background-color: #333333;
    align-self: flex-start;
}

