.header-logo {
    width: 100%;
    padding: 20px 0;
    background-color: #164e45; /* Ou autre couleur de fond */
    color: white;
    display: flex;
    justify-content: center; /* Centre le logo horizontalement */
    align-items: center;    /* Centre le logo verticalement */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-logo img {
    max-height: 150px; /* Ajuster selon la taille désirée */
    margin-bottom: 40px;
}

.header-title {
    background-color: #f5f5f5;
    color: #2c9181;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px; /* Ajoute un espace entre le header logo et le header title */
    font-family: 'Roboto', sans-serif; /* Utilise la police Roboto de Google Fonts */
}

.header-title h1 {
    margin: 0;
    font-size: 24px;
}

footer {
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff; /* Ou autre couleur de fond */
    color: white;
    text-align: center;
    position: relative; /* Modifier si nécessaire selon la disposition du contenu */
    bottom: 0;
    left: 0;
}

footer img {
    max-height: 650px; /* Ajuster selon la taille désirée */
    margin-bottom: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Organiser les enfants verticalement */
    align-items: center; /* Centrer les éléments horizontalement */
    height: auto; /* Laisser la hauteur s'ajuster au contenu */
    min-height: 100vh; /* Assurer un minimum de hauteur pleine fenêtre */
    background-color: #f5f5f5; /* Couleur de fond */
    overflow: auto; /* Permettre le défilement vertical si le contenu dépasse */
    padding-top: 60px; /* Ajuster selon la hauteur de l'en-tête */
    padding-bottom: 60px;
}
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px; /* Ajout d'un peu d'espace au-dessus du chatbot */
}

#chatbot {
    width: 90%;
    max-width: 1000px;
    min-height: 600px;
    background-color: #164e45;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 40px; /* Espace entre le header et le chatbot */
    margin-bottom: 40px; /* Espacement entre le chatbot et les images */
}

#messages {
    flex: 8; /* Cela permet à #messages d'occuper 80% de l'espace disponible */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#userInput, #sendButton {
    flex-grow: 0;
    padding: 10px;
    margin: 0 5px;
    border-radius: 4px;
}

#userInput {
    flex: 2; /* Cela permet à l'input de prendre 10% de l'espace restant */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
}

#sendButton {
    flex: 0,5; /* Cela permet au bouton d'occuper les 10% de l'espace restant */
    padding: 10px 20px;
    background-color: #2c9181;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
/* Container pour userInput et sendButton pour les aligner horizontalement */
.input-container {
    display: flex;
    justify-content: space-between; /* Cela sépare le champ de texte et le bouton */
    align-items: center;
    width: 100%; /* Cela prend la pleine largeur de #chatbot */
}

#sendButton:hover {
    background-color: #0056b3; /* Assombrir le bouton au survol */
}
#extra-content {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    gap: 10px; /* Espace entre les images */
}
.typing-indicator {
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center; /* Alignement vertical au centre */
    height: 24px; /* Ajuste selon tes besoins */
    font-size: 24px; /* Augmente la taille de la police pour rendre les points plus visibles */
    margin-left: 10px; /* Ajouter une marge à gauche pour les espacer du bord */
}

.typing-indicator span {
    animation: blink 1.4s infinite; /* Augmente la durée de l'animation pour un effet plus doux */
    display: inline-block;
    margin: 0 4px; /* Augmente l'espacement entre les points */
}

.typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

.image-response {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
}

.user, .bot {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    color: #ffffff;
}
.bot {
    color: #333; /* Couleur foncée pour le texte de l'assistant, remplacez selon vos besoins */
    background-color: #ffffff; /* Arrière-plan blanc, vous pouvez omettre cette ligne si le fond est déjà blanc */
    /* ... autres styles ... */
}

.user {
    background-color: #2c9181;
    color: #333
    align-self: flex-end;
}
.image-link {
    flex: 1 1 150px; /* Les éléments peuvent grandir et rétrécir, avec une base de 200px */
    max-width: calc(25% - 10px); /* Prend un tiers de l'espace disponible, en soustrayant l'espacement */
    box-sizing: border-box; /* Inclut padding et border dans la largeur */
}

.image-link img {
    max-width: 100%; /* Assure que l'image ne dépasse pas son conteneur */
    height: auto;
}

.image-link a {
    display: block; /* Assure que le lien enveloppe complètement l'image */
}
.hidden {
    display: none;
}
/* Réinitialiser les marges pour le body et les éléments de header/footer */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Assurez-vous que le header et le footer collent au haut et au bas de la page */
header, footer {
    width: 100%;
    /* ... autres styles ... */
}

/* Si vous avez des espaces dus aux premiers et derniers enfants du header ou du footer */
header > :first-child, footer > :first-child {
    margin-top: 0;
}

header > :last-child, footer > :last-child {
    margin-bottom: 0;
}

.order-now-container {
    margin-top: 20px;
}

.orderNowButton {
    background-color: #2c9181; /* Couleur du bouton */
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.orderNowButton:hover {
    background-color: #247165;
}
